@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "leaflet/dist/leaflet.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
html {
  font-size: clamp(14px, 1vw, 16px);
}
:root {
  --background: #f9fafb;
  --foreground: #101828;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f9fafb;
    --foreground: #101828;
  }
}
